
   
:root {
  --brand-color: #DA1F50;
  --dark-color: #171435;
  --mid-color: #8F8AC0;
  --light-color: #FFFFFF;
}
body {
  background: #181818;
}

/* 
 * Auth
*/

.authcontainer {
  max-width: 420px;
  margin: 96px auto;
  /* background: #202020; */
}
.authlogin {
  background: #181818;
  color: #fff;
}
.authbox {
  border-radius: 5px;
  background: #181818;
  color: #fff;
  padding: 20px;
  border-color: #181818;
  box-shadow: 0 0 10px rgba(104, 104, 104, 0.6);
} 
.authbackground {
  background: #181818;
  min-height: 90vh;
}

.authcontainer a {
  color: #8b5cf6 !important;
}
.authform {
  color: #fff;
  background: #181818;
  padding: 20px;

}
.authbutton {
background: #8b5cf6 !important;
  color: var(--light-color);
  padding: 10px 15px;
  outline: none;
  border: none;
  margin-top: 15px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}
.authcontainer button[type='submit'] {
  background: #8b5cf6 !important;
}

.authcontainer input:focus {
  border-color: #8b5cf6 !important;
}

.authcontainer .sbui-typography-text-danger {
  top: 3px !important;
  position: absolute !important;
}


   
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  padding: 5px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.movie-wrapper {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.movie {
  width: 300px;
  border-radius: 25px;
  background-color: var(--brand-color);
}

.movie.swipe {
  position: absolute;
  border-radius: 25px;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.moviecard {
  background-color: red;
  background-color: "red";
  background-color: var(--brand-color);
}


.button {
  background-color: var(--brand-color);
  color: var(--light-color);
  padding: 10px 15px;
  outline: none;
  border: none;
  margin-top: 15px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}
